<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&Lastly updated July 2018. Site modify from <a href="https://www.leidenuniv.nl"> Milan Allan's group website</a>.</p>
            
            
		<div class="col-sm-4">
		  Contact:<br />
		  Lin Liu<br />
		  Earth System Science Programme<br />
		  Faculty of Science<br />
		  The Chinese University of Hong Kong<br />
		  Room 315, Mong Man Wai Building<br />
		  Shatin, N.T.<br />
		  Hong Kong SAR, China <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
